[submodule "Bartsch_Robert"]
	path = Bartsch_Robert
	url = https://github.com/QuantumTraverse/Bartsch_Robert
[submodule "Boat_Spencer"]
	path = Boat_Spencer
	url = https://github.com/Nee-er/Boat_Spencer
[submodule "Cheung_Jing"]
	path = Cheung_Jing
	url = https://github.com/cheungj8394/Cheung_Jing
[submodule "Chi_Boyan"]
	path = Chi_Boyan
	url = https://github.com/BoyanChi/Chi_Boyan
[submodule "Coulter_Brady"]
	path = Coulter_Brady
	url = https://github.com/bradycoulter/Coulter_Brady
[submodule "Demenko_Anastasiya"]
	path = Demenko_Anastasiya
	url = https://github.com/anademenko/Demenko_Anastasiya
[submodule "Doan_Jared"]
	path = Doan_Jared
	url = https://github.com/doanj2882/Doan_Jared
[submodule "Dutt_Nikhil"]
	path = Dutt_Nikhil
	url = https://github.com/nikhildutt99/Dutt_Nikhil
[submodule "Espinoza_Alvaro"]
	path = Espinoza_Alvaro
	url = https://github.com/RustlingF/Espinoza_Alvaro
[submodule "Gollamudi_Sagar"]
	path = Gollamudi_Sagar
	url = https://github.com/gollamudis7042/Gollamudi_Sagar
[submodule "Gong_Lance"]
	path = Gong_Lance
	url = https://github.com/lIO-oIl/Gong_Lance
[submodule "Graham_Taylah"]
	path = Graham_Taylah
	url = https://github.com/ambeda/Graham_Taylah
[submodule "Haque_Ayan"]
	path = Haque_Ayan
	url = https://github.com/ayanhaque/Haque_Ayan
[submodule "Jeon_Amy"]
	path = Jeon_Amy
	url = https://github.com/chooseapath5080/Jeon_Amy
[submodule "Li_Jenny"]
	path = Li_Jenny
	url = https://github.com/mafuteru/Li_Jenny
[submodule "Lu_Cathy"]
	path = Lu_Cathy
	url = https://github.com/cathylu10/Lu_Cathy
[submodule "McMahon_Michael"]
	path = McMahon_Michael
	url = https://github.com/John-C-Calhoun/McMahon_Michael
[submodule "Miller_Andrew"]
	path = Miller_Andrew
	url = https://github.com/millera8465/Miller_Andrew
[submodule "Moon_Elane"]
	path = Moon_Elane
	url = https://github.com/elanemoon/Moon_Elane
[submodule "Multani_Gitanjali"]
	path = Multani_Gitanjali
	url = https://github.com/Gita5683/Multani_Gitanjali
[submodule "Pham_Vyvian"]
	path = Pham_Vyvian
	url = https://github.com/phamv8616/Pham_Vyvian
[submodule "Pucher_Dahra"]
	path = Pucher_Dahra
	url = https://github.com/dahrapucher/Pucher_Dahra
[submodule "Reineck_Chris"]
	path = Reineck_Chris
	url = https://github.com/youngnass/Reineck_Chris
[submodule "Rankupalli_Maya"]
	path = Rankupalli_Maya
	url = https://github.com/mayarankupalli/Rankupalli_Maya
[submodule "Rim_Daniel"]
	path = Rim_Daniel
	url = https://github.com/danrim99/Rim_Daniel
[submodule "Roshan_Mona"]
	path = Roshan_Mona
	url = https://github.com/monaroshan/Roshan_Mona
[submodule "Sasagawa_Kyle"]
	path = Sasagawa_Kyle
	url = https://github.com/ksasagawa/Sasagawa_Kyle
[submodule "Wang_Jonathan"]
	path = Wang_Jonathan
	url = https://github.com/jwang9930/Wang_Jonathan
